body {
    background-color: #6CABDD;
    font-family: 'Roboto', sans-serif;
}

div {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
}

h1 {
    font-size: 2.5rem;
    color: white;
    padding: 0 10px;
    text-align: center;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 20px 10px;
}


select {
    color: #333333;
    font-size: 1.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5rem;
}

select:hover {
    border-color: #999999;
}

select:focus {
    border-color: #666666;
    box-shadow: 0 0 5px #666666;
    outline: none;
}