body {
    font-family: 'Roboto', sans-serif;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

#matchInfo {
    justify-content: center;
    align-items: center;
}

.teamName {
    width: 40vw;
}

#homeTeamName {
    margin-right: 5vw;
    text-align: right;
}

#awayTeamName {
    margin-left: 5vw;
    text-align: left;
}

#timeContainer {
    align-items: center;
}

#timeSlider {
    width: 50vw;
}

button {
    background: none;
    border: none;
}

button img {
    width: 30px;
}

#tablesContainer {
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
  
table th, 
table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #6CABDD;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

td:nth-child(1) {
    font-weight: bold;
    width: 2vw;
}

td:nth-child(2),
td:nth-child(3) {
    width: 18vw;
}

#recommended-subs td:nth-child(1),
#recommended-subs td:nth-child(4) {
    font-weight: bold;
    width: 2vw;
}

#recommended-subs td:nth-child(2),
#recommended-subs td:nth-child(5) {
    width: 15vw;
}

#recommended-subs td:nth-child(3) {
    width: 2vw;
}

#recommended-subs th:nth-child(2) {
    padding: 0px;
}

#clockIcon {
    width: 25px;
    height: 25px;
}

#tableTitleContainer {
    justify-content: left;
}