<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <select id="match-selector" name="match-selector" onchange="myFunction()">
        <option value="na">Select a match...</option>
        {% for match in data %}
            <option value="{{ match.match_id }}">{{ match.home_team_name }} vs {{ match.away_team_name }}</option>
        {% endfor %}
    </select>
</body>
<script>
    function myFunction() {
      var selected_option = document.getElementById("match-selector").value;
      console.log("Selected option: " + selected_option);
    }
</script>
</html>